# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE files
.idea/
.vscode/
*.sublime-workspace

# dotenv environment files
.env
.env.* # Include all variants like .env.local, .env.production, etc.
firebase.env # Add if you're using firebase.env for Firebase configuration

# Miscellaneous
.DS_Store
Thumbs.db

# Firebase-related files (if applicable)
.firebase/
firestore.indexes.json
firestore.rules

# Parcel cache (if using Parcel)
.cache/

# Yarn Integrity file
.yarn-integrity

# Coverage directory used by testing tools
coverage

# Mac system files
*.DS_Store
